<% provide(:title, "About") %>
<h1>About</h1>
<p>
	Rails Microblog is based on <a href="http://rubyonrails.org/">Ruby on Rails</a>.
	Developed by <a href="http://hlyu.cn/?page_id=7">HongliYu</a>
</p>
