<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Email: yhlssdone@gmail.com<br>
	Blog: <a href="http://hlyu.cn">hlyu.cn</a><br>
	Facebook: <%= link_to image_tag("portrait_facebook.jpg", alt: "HongliYu Facebook Portrait", size: "60x50"), 'https://www.facebook.com/hongli.yu.16' %>
</p>