<footer class="footer">
  <small>
    <a href="https://github.com/HongliYu/microblog-rails">Rails Microblog</a>
    by <a href="http://hlyu.cn/?page_id=7">HongliYu</a>
  </small>
<nav>
	<ul>
    <li><%= link_to "About",   about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><a href="http://weblog.rubyonrails.org/news/">News</a></li>
	</ul>
</nav>
</footer>